@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700&display=swap');

.App {
  min-height: 100vh;
  font-family: 'Noto Sans JP', sans-serif !important;
}


#stripes{
  filter: hue-rotate(223deg);
  z-index: 1;
  width:100%;
  height: 800px;
  overflow: hidden;
  transform-origin: 0;
  transform: skewY(-12deg);
  background: -webkit-linear-gradient(300deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
  background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);

}

#stripes, #stripes span{
  position: absolute;
}

#stripes span{
  height: 40px;
}

#stripes :nth-child(1){
  width: 50%;
  left: 50%;
  top:40px;
  background:#4c29ff;
}

#stripes :nth-child(2){
  width: 14%;
  right: 0;
  bottom:40px;
  background: #2be7ff;
}

#stripes :nth-child(3){
  width: 25%;
  bottom: 0;
  right: 0;
  background: #a1ffc8;
}

@media (min-width:670px){
  #stripes span{
    height:150px;
  }
  #stripes :nth-child(1){
    top: 0;
  }
  #stripes :nth-child(2){
    width: 16.66667%;
    top: 300px;
    bottom: auto;
    background: #0dcfff;
  }
  #stripes :nth-child(3){
    width: 33.33333%;
    right: auto;
    background: #11bdff;
  }
}

@media (min-width: 880px){
  #stripes span{
    height: 190px;
  }

  #stripes :nth-child(1){
    width: 33.33333%;
    left: -16.66666%;
    background: #53f;
  }

  #stripes :nth-child(2){
    width: 33.33333%;
    top: 0;
    left: 16.66666%;
    right: auto;
    background: #4553ff;
  }

  #stripes :nth-child(3){
    width: 33.33333%;
    left: 49.99999%;
    bottom: auto;
    background: #4f40ff;
  }

  #stripes :nth-child(4){
    width: 33.33333%;
    top: 380px;
    right: -16.66666%;
    background: #25ddf5;
  }

  #stripes :nth-child(5){
    width: 33.33333%;
    bottom: 0;
    background: #1fa2ff;
  }
}

.content{
  position: absolute;
  width: calc(100vw - 100px);
  z-index: 2;
  padding: 50px;
}

body{
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'Shippori Mincho', serif;
  margin: 100px auto;
  font-size: 46px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1.7px;
}

h1, h2{
  color: white;
}

h2{
  font-size: 20px;
  margin: 10px 0;
}

button{
  width: max-content;
  padding: 20px 80px;
  border-radius: 100px;
  outline: none;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  background: rgba(255,255,255,0.3);
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover{
  background: rgba(255,255,255,0.4);
}

.call-to-action{
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  margin: 100px 0;
  position: relative;
}

label{
  place-self: end start;
  font-size: 12px;
  position: absolute;
  top: 70px;
  left: calc(50% - 112px);
  color: white;
  opacity: 0.9;
}

.card-group{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
}

.card{
  box-shadow: 0px 10px 20px darkgray;
  border-radius: 8px;
  padding: 25px;
  background: white;
  text-align: center;
  cursor: pointer;
  place-self: center;
  height: 200px;
  width: 400px;
  display: grid;
  place-items: center;
}
